@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  position: relative;
  z-index:3;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.functions__container {
  position: relative;
  max-width: 1108px;
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.functions__container::after {
  content: "";
  position: absolute;
  bottom: -25px;
  display: block;
  max-width: 1110px;
  height: 1px;
  background-color: rgba(212, 212, 212, 1);
  z-index: 4;
}

.navigation__container {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 22px;
}

.header__nav-tag {
  position: relative;
}

.nav-list {
  width: 736px;
  margin: 0 auto;
}

.navigation-big__wrapper {
  position: absolute;
  top: 60px;
  left: 1px;
  display: none;
  width: 1110px;
  height: 435px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
  z-index: 30;
}

.navigation-big__catalog {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 434px;
  border-right: 1px solid rgba(229, 229, 229, 1);
}

.navigation-big__column-1 {
  box-sizing: border-box;
  width: 50%;
  padding-left: 31px;
}

.navigation-big__column-2 {
  box-sizing: border-box;
  width: 50%;
  padding-left: 28px;
}

.navigation-big__items {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 443px;
  border-right: 1px solid rgba(229, 229, 229, 1);
  padding-top: 3px;
}

.navigation-big__logotype {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.catalog-big__list-heading {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.1px;
  margin-top: 30px;
}

.catalog-big__list-heading-2 {
  margin-top: 27px;
}

.catalog-big__list {
  list-style: none;
  margin-top: 15px;
}

.catalog-big__link {
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  line-height: 26px;
}

.catalog-big__list-item {
    position: relative;
}

.catalog-big__list-item:hover .catalog-big__link {
  padding-left: 28px;
}

.catalog-big__list-item:hover::after {
  content: "";
  position: absolute;
  display: block;
  top: 13px;
  left: 0px;
  width: 17px;
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
  z-index:10;
}

.navigation-big__link {
  text-decoration: none;
}

.navigation-big__item-name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.navigation-big__item-price {
  font-size: 16px;
  font-weight: 400;
  color: rgba(146, 146, 146, 1);
}

.navigation-big__item-price-old {
  font-size: 13px;
  font-weight: 400;
  color: rgba(146, 146, 146, 1);
  text-decoration: line-through;
  margin-left: 6px;
}

.navigation-big__item-container {
  display: flex;
  margin-left: 31px;
  margin-top: 27px;
  margin-right: 130px;
}

.item-container__information-wrapper {
  margin-left: 21px;
  margin-top: -2px;
}

.information-wrapper__price-container {
  margin-top: 15px;
  margin-left: -1px;
}

.logotype__list {
  box-sizing: border-box;
  padding-left: 38px;
  padding-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.logotype__list-item {
  margin-top: 11px;
}

.logotype__list-item:first-child {
  margin-top: 0px;
}

.logotype__list-item a {
  display: block;
}

.header__nav-tag:hover .navigation-big__wrapper {
  display: flex;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.header__functions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:5;
}

.functions__lang-wrapper {
  position: relative;
}

.functions__lang-wrapper:hover .functions__lang-list {
  display: block;
  transition: display 0.5s ease;
}

.functions__menu-lang {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/header/hamburger-menu-link.png");
  background-position: 0.5px 8px;
  background-repeat: no-repeat;
  position: relative;
}

.functions__lang-list {
  display: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
  width: 77px;
  height: 86px;
  position: absolute;
  bottom: -77px;
  left: -1px;
  list-style: none;
}

.functions__lang-list-item {
  margin-left: 14px;
}

.functions__lang-list-item:first-child {
  margin-top: 8px;
}

.functions__lang-link {
  text-decoration: none;
  color: rgba(123, 123, 123, 1);
  font-size: 11px;
  font-weight: 500;
  line-height: 23px;
}

.functions__lang-link:hover {
  color: rgba(0, 0, 0, 1);
}

.functions__lang-link--active {
  color: rgba(0, 0, 0, 1);
}

.functions__search-wrapper {
  display: block;
  position: relative;
  margin-left: 7px;
  margin-right: auto;
}

.functions__search {
  display: block;
  height: 30px;
  width: 30px;
  background-image: url("../img/header/search-link.svg");
  background-position: 6px 5px;
  background-repeat: no-repeat;
}

.functions__search-form {
  display: none;
  position: absolute;
  bottom: -42px;
  left: 6px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
}

.functions__search-input {
  position: relative;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 51px;
  border: none;
  display: block;
  height: 51px;
  width: 417px;
  line-height: 51px;
  font-size: 20px;
}

.functions__search-submit {
  display: block;
  position: absolute;
  right: 0;
  top:0;
  background: none;
  height: 51px;
  width: 51px;
  border: none;
  background-color: none;
  background-image: url("../img/header/search-button.svg");
  background-repeat: no-repeat;
  background-position: 18px 17px;
}

.functions__search-wrapper:hover .functions__search-form {
  display: flex;
}

.functions__logo {
  margin-left: 8px;
}

.functions__share-wrapper {
  position: relative;
  margin-right: 16px;
  margin-left: auto;
}

.functions__share {
  display: block;
  height: 30px;
  width: 30px;
  background-image: url("../img/header/share-link.svg");
  background-position: 7px 5px;
  background-repeat: no-repeat;
}

.functions__share-list {
  box-sizing: border-box;
  position: absolute;
  right: 9px;
  top: 21px;
  list-style: none;
  display: none;
  align-items: center;
  width: 157px;
  height: 46px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
}

.functions__share-link-1 {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("../img/header/social-icons/static/fb.png");
  transition: background-image 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 14px;
}

.functions__share-link-1:hover {
  background-image: url("../img/header/social-icons/hover/fb.png");
  transition: background-image 0.5s;
}

.functions__share-link-2 {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("../img/header/social-icons/static/inst.png");
  transition: background-image 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}

.functions__share-link-2:hover {
  background-image: url("../img/header/social-icons/hover/inst.png");
  transition: background-image 0.5s;
}

.functions__share-link-3 {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("../img/header/social-icons/static/pt.png");
  transition: background-image 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}

.functions__share-link-3:hover {
  background-image: url("../img/header/social-icons/hover/pt.png");
  transition: background-image 0.5s;
}

.functions__share-link-4 {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("../img/header/social-icons/static/tw.png");
  transition: background-image 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 6px;
}

.functions__share-link-4:hover {
  background-image: url("../img/header/social-icons/hover/tw.png");
  transition: background-image 0.5s;
}

.functions__share-wrapper:hover .functions__share-list {
  display: flex;
}

.functions__cart {
  position: relative;
  height: 30px;
  width: 30px;
  background-image: url("../img/header/cart-link.svg");
  background-repeat: no-repeat;
  background-position: 4px 3px;
}

.cart__number {
  position: absolute;
  bottom: 3px;
  right: -1px;
  display: block;
  height: 13px;
  width: 14px;
  padding-top: 1px;
  font-size: 8px;
  color: rgba(255, 255, 255, 1);
  font-weight: normal;
  text-align: center;
  line-height: 14px;
  display: block;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.nav-list {
  list-style:none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list__item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  font-size: 11px;
  line-height: 64px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.main__slider {
  max-width: 1920px;
  height: 900px;
  position: relative;
  margin-top: -148px;
}

.slider__previous {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
}

.slider__next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  right: 0;
}

.button-slide {
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  z-index: 3;
}

.button-slide::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../img/main-index/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  z-index: 3;
}

.previous-slide {
  background-color: transparent;
  margin-left: -20px;
  margin-top: -3px;
}

.previous-slide::after {
  transform: rotate(180deg);
}

.next-slide {
  margin-top: -3px;
  margin-right: -4px;
}

.next-slide::after {
  background-position: 22px 50%;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/main-index/slider-background.jpg");
  background-size: cover;
}

.slide__content-container {
  position: relative;
  max-width: 1108px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide__content-container h3 {
  text-transform: capitalize;
  font-size: 56px;
  letter-spacing: 0.4px;
  line-height: 64px;
  margin-top: -27px;
}

.slide__content-container p {
  font-size: 13px;
  line-height: 20px;
  color: rgba(127, 127, 127, 1);
  padding-top: 20px;
}

.slide__content-container a {
  text-decoration: none;
  line-height: 56px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  display: block;
  width: 194px;
  height: 56px;
  background-color: rgba(0, 0, 0, 1);
  margin-top: 44px;
  margin-left: -1px;
}

.slider__navigation {
  position: absolute;
  left: 405px;
  bottom: 35px;
  display: flex;
  width: 44px;
  height: 10px;
  justify-content: space-between;
  z-index: 3;
}

.slider__navigation label {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#top-slide-1:checked ~ .slider__navigation .top-slide__label-1,
#top-slide-2:checked ~ .slider__navigation .top-slide__label-2,
#top-slide-3:checked ~ .slider__navigation .top-slide__label-3 {
  background-color: rgba(0, 0, 0, 1);
}

/*the end of the slider*/
.main__benefits {
  margin-top: 44px;
}

.main__benefits ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  align-items: center;
  text-align: center;
}

.benefits__list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 72px 0 84px;
}

.benefits__list-item div {
  height: 55px;
  width: 55px;
}

.benefits__list-item h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 64px;
}

.benefits__list-item p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgba(146, 146, 146, 1);
  margin-top: -6px;
}

.discount__image {
  background-image: url("../img/main-index/wallet-icon.png");
  background-repeat: no-repeat;
  background-position: 4px 2px;
}

.delivery__image {
  background-image: url("../img/main-index/bus-icon.png");
  background-repeat: no-repeat;
  background-position: 9px 0px;
}

.support__image {
  background-image: url("../img/main-index/person-icon.png");
  background-repeat: no-repeat;
  background-position: 3px 5px;
}

.products__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0 13px;
}

.products__block  {
  width: 442px;
  height: 440px;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 45px;
}

.products__dresses {
  background-image: url("../img/main-index/dresses-theme-block.jpg");
  background-repeat: no-repeat;
}
.products__blouses {
  background-image: url("../img/main-index/blouses-theme-block.jpg");
  background-repeat: no-repeat;
}
.products__t-shirts {
  background-image: url("../img/main-index/t-shirt-theme-block.jpg");
  background-repeat: no-repeat;
}
.products__outerwear {
  background-image: url("../img/main-index/outerwear-theme-block.jpg");
  background-repeat: no-repeat;
}

.products__link {
  width: 251px;
  height: 63px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  line-height: 63px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
  transition: color 0.5s;
  transition: background-color 0.5s;
}

.products__link:hover,
.products__link:active {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  transition: 0.5s;
}

.main__trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 92px;
}

.trending__heading {
  font-size: 42px;
  line-height: 64px;
  color: rgba(0, 0, 0, 1);
  text-transform: capitalize;
  margin-left: -4px;
  letter-spacing: 0.3px;
}

.trending__link-wrapper {
    box-sizing: border-box;
    width: 465px;
    margin: 0 auto;
    margin-top: 35px;
}

.trending__link-list {
  display: flex;
  list-style: none;
  margin-left: -11px;
}

.trending__link {
  position: relative;
  display: block;
  width: 135px;
  height: 36px;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  font-size: 11.98px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(238, 238, 238, 1);
  margin-left: 19px;
}



.trending__link:hover {
  background-color: rgba(41, 41, 41, 1);
  color: rgba(211, 211, 211, 1);
}

.trending__link:hover::after {
  background-color: rgba(41, 41, 41, 1);
}



.trending__link::after {
  content: "";
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  height: 14px;
  background-color: rgba(238, 238, 238, 1);
  bottom: -4px;
  left: 61px;
}

.trending__link--active {
  background-color: rgba(41, 41, 41, 1);
  color: rgba(211, 211, 211, 1);
}
.trending__link--active::after {
  background-color: rgba(41, 41, 41, 1);
}

.trending__goods-wrapper {
  box-sizing: border-box;
  margin-top: 50px;
}

.trending__text {
  display: block;
  text-align: center;
  font-size: 13px;
  color: rgba(146, 146, 146, 1);
  line-height: 20px;
  width: 752px;
}

.trending__text::before {
  content: "";
  display: block;
  width: 104px;
  margin: 0 auto;
  height: 1px;
  background-color: rgba(207, 207, 207, 1);
  margin-top: 23px;
  margin-bottom: 32px;
}

.trending__goods-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.trending__goods-list-item {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.trending__goods-hidden-functions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 8;
  display: none;
  flex-direction: column-reverse;
}

.color-square-hidden:hover {
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  margin-left: -2px;
  margin-right: 3px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.hidden-functions__buttons {
  display: flex;
  margin-left: 3px;
  margin-bottom: 15px;
}

.hidden-button {
  width: 153px;
  height: 49px;
  background-color: rgba(255, 255, 255, 1);
  margin-left: 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  line-height: 49px;
}

.hidden-button:hover {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.colors-wrapper {
  min-width: 160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.color-square-hidden {
  height: 20px;
  width: 20px;
  margin-top: -15px;
  margin-right: 7px;
}

.color-square-hidden:first-child {
  margin-left: 27px;
}

.color-square-hidden:last-child {
  margin-left: 2px;
}

.square-pink {
  background-color: rgba(239, 172, 172, 1);
}
.square-yellow {
  background-color: rgba(237, 217, 162, 1);
}
.square-green {
  background-color: rgba(176, 223, 184, 1);
}
.square-blue {
  background-color: rgba(183, 205, 212, 1);
}





.trending__goods-hidden-color {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  display: none;
  justify-content: center;
  align-items: center;
}

.trending__goods-image {
  position: relative;
  display: block;
  background-color: rgba(246, 246, 246, 1);
  mix-blend-mode: multiply;
}

.trending__goods-item-name {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  margin-top: 17px;
  margin-left: -2px;
}

.trending__goods-price {
  font-size: 16px;
  color: rgba(146, 146, 146, 1);
  margin-top: 12px;
  margin-bottom: 36px;
}

.trending__goods-price-old {
  text-decoration: line-through;
  font-size: 13px;
  color: rgba(146, 146, 146, 1);
  margin-top: 14px;
  margin-left: 13px;
}

.trending__goods-price-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.trending__goods-image-wrapper {
  position: relative;
  background-color: rgba(246, 246, 246, 1);
}
.trending__goods-list-item:hover .trending__goods-image-wrapper .trending__goods-hidden-functions {
  display: flex;
}

.trending__goods-list-item:hover .trending__goods-price-wrapper .trending__goods-hidden-color {
  display: flex;
}

.trending__goods-sale {
  display: block;
  position: absolute;
  top:15px;
  left: 15px;
  width: 50px;
  height: 25px;
  background-color: rgba(197, 83, 83, 1);
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  z-index: 4;

}

.trending__goods-new {
  display: block;
  position: absolute;
  top:15px;
  right: 15px;
  width: 50px;
  height: 25px;
  background-color: rgba(0, 0, 0, 1);
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  z-index: 4;
}

.trending__goods-span--disabled {
  display: none;
}

.trending__goods-all {
  display: block;
  width: 230px;
  height: 65px;
  font-size: 13px;
  line-height: 65px;
  margin-left: -2px;
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

/*marker*/

.main__bags-and-shoes {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  background-color: rgba(250, 250, 250, 1);
  margin-left: 1px;
}

.bags-and-shoes__img {
  height: 630px;
}

.bags-and-shoes__img img {
  width: 958px;
  height: 630px;
}

.bags-and-shoes__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 630px;
}

.bas__heading {
  font-size: 42px;
  font-weight: 400;
  line-height: 64px;
  color: rgba(0, 0, 0, 1);
  text-transform: capitalize;
  margin-top: 177px;
  margin-left: -7px;
}

.bas__text {
  font-size: 13px;
  line-height: 20px;
  color: rgba(146, 146, 146, 1);
  text-align: center;
  max-width: 536px;
}

.bas__text::before {
  content: "";
  display: block;
  width: 104px;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(146, 146, 146, 1);
  margin-top: 23px;
  margin-bottom: 32px;
}

.bas__link {
  box-sizing: border-box;
  display: block;
  width: 194px;
  height: 56px;
  text-decoration: none;
  text-align: center;
  font-size: 11px;
  line-height: 56px;
  margin-top: 45px;
  margin-right: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
}

.brands-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1800px;
  margin: 0 auto;
}

.brands-link {
  display: block;
  height: 148px;
  width: 226px;
}

.brands-link-1 {
  background-image: url("../img/main-index/partners/sisley.svg");
  background-repeat: no-repeat;
  background-position: 50px 61px;
}

.brands-link-2 {
  background-image: url("../img/main-index/partners/wrangler.svg");
  background-repeat: no-repeat;
  background-position: 53px 64px;
}

.brands-link-3 {
  background-image: url("../img/main-index/partners/fred-perry.svg");
  background-repeat: no-repeat;
  background-position: 35px 68px;
}

.brands-link-4 {
  background-image: url("../img/main-index/partners/levis.svg");
  background-repeat: no-repeat;
  background-position: 64px 65px;
}

.brands-link-5 {
  background-image: url("../img/main-index/partners/jaj.svg");
  background-repeat: no-repeat;
  background-position: 29px 69px;
}

.brands-link-6 {
  background-image: url("../img/main-index/partners/lacoste.svg");
  background-repeat: no-repeat;
  background-position: 50px 67px;
}

.main__instagram {
  height: 320px;
  width: 100%;
  background-image: url("../img/main-index/inst-background/1.jpg"),
                    url("../img/main-index/inst-background/2.jpg"),
                    url("../img/main-index/inst-background/3.jpg"),
                    url("../img/main-index/inst-background/4.jpg"),
                    url("../img/main-index/inst-background/5.jpg"),
                    url("../img/main-index/inst-background/6.jpg");
  background-position: 0px 0px,
                       320px 0px,
                       640px 0px,
                       960px 0px,
                       1280px 0px,
                       1600px 0px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__instagram a {
  display: block;
  text-decoration: none;
  margin-top: -8px;
  margin-left: -4px;
}

.insta {
  font-size: 42px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}

.main__map {
  position: relative;
  width: 100%;
  height: 399px;
  background-image: url("../img/main-index/map.png");
  background-repeat: no-repeat;
}

.map__info {
  box-sizing: border-box;
  padding-left: 41px;
  padding-right: 59px;
  padding-top: 28px;
  position: relative;
  top: 102px;
  left: 405px;
  width: 335px;
  height: 194px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

.map__text {
  font-size: 13px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  line-height: 20px;
}

.map__info p{
margin-top: 13px;
}

.map__info p:first-child {
  margin-top: 0;
}

.footer {
  background-color: rgba(250, 250, 250, 1);
}

.container__footer {
  padding-top: 69px;
  max-width: 1108px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.social__img {
  margin-left: -1px;
}

.social__text {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(146, 146, 146, 1);
  margin-top: 42px;
  width: 255px;
}

.social__list {
  list-style: none;
  display: flex;
  margin-top: 35px;
  margin-left: -2px;
}

.social__link {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(233, 233, 233, 1);
  margin-right: 10px;
}

.social__link-1 {
  background-image: url("../img/footer/social-icons/fb.png");
  background-repeat: no-repeat;
  background-position: 13px 10px;
}
.social__link-2 {
  background-image: url("../img/footer/social-icons/inst.png");
  background-repeat: no-repeat;
  background-position: center;
}
.social__link-3 {
  background-image: url("../img/footer/social-icons/pt.png");
  background-repeat: no-repeat;
  background-position: center;
}
.social__link-4 {
  background-image: url("../img/footer/social-icons/tw.png");
  background-repeat: no-repeat;
  background-position: 11px 11px;
}

.social__subscribe {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(223, 223, 223, 1);
  margin-top: 40px;
  margin-left: -1px;
}

.social__input {
  background: none;
  border: none;
  line-height: 48px;
  padding-left: 17px;
  width: 100%
}

.social__input::placeholder {
  font-weight: 400;
  font-size: 11px;
  color: rgba(146, 146, 146, 1);
  letter-spacing: 0.7px;
}

.social__button {
  background: none;
  border:none;
  font-size: 11px;
  line-height: 48px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  padding: 0 21px 0 21px;
  cursor: pointer;
}
.footer__heading {
  font-size: 18px;
  font-weight: 400px;
}

.footer__products {
  margin-left: 29px;
  margin-top: -3px;
}

.footer__column .footer__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(146, 146, 146, 1);
}

.footer__column .footer__link:first-of-type {
  margin-top: 37px;
}

.footer__column .your-account-footer__link:first-of-type {
  margin-top: 38px;
}

.footer__information {
  margin-left: 200px;
  margin-top: -3px;
}

.footer__your-account {
  margin-left: 116px;
  margin-top: -4px;
}

.container-payment {
  margin-top: 70px;
  background-color: rgba(30, 27, 27, 1);
  height: 52px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.payment-img {
  margin-right: 689px;
  margin-top: 3px;
}

.main-catalog__main-container {
  display: flex;
  width: 1110px;
  margin: 0 auto;
  margin-top: 125px;
  justify-content: space-between;
}

.main-catalog__filter {
  width: 255px;
}

.main-catalog__catalog {
  width: 825px;
}

.main-catalog__name {
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-transform: capitalize;
  margin-left: -4px;
}

.main-catalog__text {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin-top: 19px;
}

.main-catalog__sort-block {
  width: calc(100% - 2px);
  height:  50px;
  background-color: rgba(242, 242, 242, 1);
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.sort-block__sort-by-wrapper {
  display: flex;
  margin-right: 20px;
}

.sort-block__sort-by {
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: rgba(164, 164, 164, 1);
  margin-right: 5px;
}

.sort-block__sort-by-type {
  width: 130px;
  text-decoration: none;
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.sort-block__sort-by-type::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 4px;
  background-image: url("../img/main-catalog/more.svg");
  background-repeat: no-repeat;
  margin-left: 10px;
}

.sort-block__products {
  font-size: 13px;
  line-height: 52px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  padding-left: 20px;
}

.main-catalog__active-filters {
  display: flex;
  margin-top: 15px;
}

.active-filter__heading {
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  margin-top: 5px;
}

.active-filter__block {
  display: flex;
  align-items: center;
  width: 121px;
  height: 28px;
  background-color: rgba(0, 0, 0, 1);
  margin-top: 5px;
  margin-left: 8px;
}

.active-filter__name {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 9px;
  line-height: 29px;
  text-transform: uppercase;
  padding-left: 11px;
}

.active-filter__close {
  width: 6px;
  height: 6px;
  background-image: url("../img/main-catalog/close-filter.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: 10px;
}

.main-catalog__items {
  margin-top: 40px;
}

.main-catalog__item {
  margin-left: 30px;
}

.main-catalog__items-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
}

.main-catalog__img-wrapper {
  position: relative;
  width: 255px;
}

.main-catalog__sale {
  display: block;
  width: 50px;
  height: 25px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(197, 83, 83, 1);
  position: absolute;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  font-weight: 400;
  top: 14px;
  left: 15px;
}

.main-catalog__new {
  display: block;
  width: 50px;
  height: 25px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  top: 14px;
  right: 15px;
}

.main-catalog__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-catalog__text-wrapper a {
  text-decoration: none;
}

.main-catalog__item-heading {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  margin-top: 16px;
  margin-left: -3px;
}

.main-catalog__price-wrapper {
  display: flex;
  align-items: baseline;
  margin-top: 12px;
  padding-bottom: 36px;
}

.main-catalog__price {
  color: rgba(146, 146, 146, 1);
  font-size: 16px;
  font-weight: 400;
  margin-left: -2px;
}

.main-catalog__price-old {
  color: rgba(146, 146, 146, 1);
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 13px;
}

.disabled {
  display: none;
}

.main-catalog__pagination {
  margin-top: 21px;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
  width: 823px;
  height: 50px;
  background-color: rgba(242, 242, 242, 1);
}

.pagintaion__interval {
  font-size: 13px;
  line-height: 50px;
  font-weight: 400px;
  color: rgba(0, 0, 0, 1);
  padding-left: 21px;
}

.pagination__list {
  display: flex;
  list-style: none;
  width: 332px;
  justify-content: space-between;
  margin-right: 14px;
}

.pagination__list .pagination__list-item:first-of-type {
  text-align: right;
  padding-left: 20px;
  position: relative;
}

.pagination__list .pagination__list-item:first-of-type::after {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  left: 0;
  width: 8px;
  height: 9px;
  background-image: url("../img/main-catalog/arrow.svg");
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

.pagination__list .pagination__list-item:last-of-type {
  text-align: left;
  padding-right: 20px;
  position: relative;
}

.pagination__list .pagination__list-item:last-of-type::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 2px;
  width: 8px;
  height: 9px;
  background-image: url("../img/main-catalog/arrow.svg");
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.pagination__link-number {
  display: block;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
  font-size: 13.08px;
}

.pagination__link-number--active {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.pagination__link-number:hover {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.pagination__link {
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
  font-size: 13.08px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.pagination__list-item {
  display: flex;
  align-items: center;
}

.pagination__number-list {
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin-bottom: 3px;
  margin-right: 2px;
  list-style: none;
}

.pagination__list-item-numbers {
  display: flex;
  align-items: center;
}

.filter__type-head {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
}

.filter__top::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 39px;
  display: block;
  width: 7px;
  height: 4px;
  background-image: url("../img/main-catalog/arrow.svg");
  background-repeat: no-repeat;
}

.filter__tshirts-and-blouses::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 39px;
  display: block;
  width: 7px;
  height: 4px;
  background-image: url("../img/main-catalog/arrow.svg");
  background-repeat: no-repeat;
}



.main-catalog__filter div {
  margin-top: 20px;
  position: relative;
}

.main-catalog__filter div:first-of-type {
  margin-top: 2px;
}

.filter__type-list {
  display: none;
  list-style: none;
  margin-top: 6px;
  margin-left: -1px;
  margin-bottom: 23px;
}

.filter__tshirts-and-blouses:hover .filter__type-list {
  display: block;
}

.filter__tshirts-and-blouses:hover::after {
  transform: rotate(180deg);
}

.filter__type-list-item {
  font-size: 12px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(146, 146, 146, 1);
}

.filter__type-list-item:hover {
  color: rgba(0, 0, 0, 1);
}

.filter__link {
  text-decoration: none;
  color: rgba(146, 146, 146, 1);
}

.filter__form-head {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  margin-top: 52px;
  margin-left: -1px;
}

.filter__form {
  margin-top: 31px;
}

.filter__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.filter__form .filter__fieldset:last-of-type {
  margin-top: 29px;
}
.filter__legend {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 2px;
}

.fieldset__label {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-transform: capitalize;
  margin-top: 10px;
  padding-left: 28px;
}

.filter__button {
  display: block;
  width: 140px;
  height: 48px;
  box-sizing: border-box;
  border: none;
  background: none;
  border: 1px solid rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 48px;
  text-align: center;
  margin-top: 28px;
}



.filter__button:hover {
  background-color: rgba(196, 161, 19, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(196, 161, 19, 1);
}


.fieldset__span {
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.fieldset__span-color {
  width: 18px;
  height: 18px;
}

.fieldset__span-color-1 {
  background-color: rgba(241, 229, 210, 1);
  border: 1px solid rgba(241, 229, 210, 1);
}

.fieldset__span-color-2 {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
}

.fieldset__span-color-3 {
  background-color: rgba(235, 173, 41, 1);
  border: 1px solid rgba(235, 173, 41, 1);
}

.fieldset__span-color-4 {
  background-color: rgba(246, 246, 246, 1);
  border: 1px solid rgba(246, 246, 246, 1);
}

#category-1:checked ~ label[for="category-1"] span::after,
#category-2:checked ~ label[for="category-2"] span::after,
#category-3:checked ~ label[for="category-3"] span::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 1);
}

#compositions-1:checked ~ label[for="compositions-1"] span::after,
#compositions-2:checked ~ label[for="compositions-2"] span::after,
#compositions-3:checked ~ label[for="compositions-3"] span::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 1);
}

#color-1:checked ~ label[for="color-1"] span,
#color-2:checked ~ label[for="color-2"] span,
#color-3:checked ~ label[for="color-3"] span,
#color-4:checked ~ label[for="color-4"] span {
  border: 1px solid rgba(230, 230, 230, 1);
}

.for-mobile-users {
  display: none;
}

@media screen and (max-width: 1355px) {
  .main__bags-and-shoes {
    flex-direction: column;
  }

  .bags-and-shoes__img img {
   width: 100%;
   height: auto;
  }

.slide__content-container h3,
.slide__content-container p,
.slide__content-container a {
  margin-left: 100px;
}

.header__functions {
  padding: 0 20px 0 20px;
}
}

@media screen and (max-width: 1150px) {

}
